<!DOCTYPE html>
<html lang="{{currentLocale}}" {{{head.htmlAttributes}}}>
  <head>
      <!-- Data Layer -->
      <script>
        dataLayer = [{{{dataLayer}}}];
      </script>
      <!-- end Data Layer -->
      {{#if gtmContainerId}}
          <!-- Start Google Tag Manager-->
          <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
            j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl
            {{#if gtmContainerAuth}}+
            '&gtm_auth={{gtmContainerAuth}}&gtm_preview={{gtmContainerPreview}}&gtm_cookies_win=x'
            {{/if}};
            f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','{{gtmContainerId}}');</script>
          <!-- End Google Tag Manager -->
      {{/if}}
      {{#if faviconUrl}}
        <link rel="shortcut icon" href="{{faviconUrl}}" />
      {{/if}}
      {{{head.title}}}
      {{{head.meta}}}
      {{{browserMonitoringScript}}}
      {{#if useWidgetAssets}}
        <link href="{{assetsRootURL}}{{assets.styles.widget}}" media="screen, projection" rel="stylesheet" type="text/css"/>
      {{else}}
        <link href="{{assetsRootURL}}{{assets.styles.app}}" media="screen, projection, print" rel="stylesheet" type="text/css"/>
      {{/if}}
      {{{coreCSS}}}
      <link href="{{coreDefaultCSS}}" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
      {{{body}}}
      {{!-- Polyfill for bind and Intl. The service doesn't send back polyfill unless browser needs it. --}}
      <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Function.prototype.bind,Map,Symbol,Intl.~locale.{{currentLocale}}"></script>
      {{#if useWidgetAssets}}
        <script type="text/javascript" src="{{assetsRootURL}}{{assets.javascript.widget-vendors}}"></script>
        <script type="text/javascript" src="{{assetsRootURL}}{{assets.javascript.widget}}"></script>
      {{else}}
        <script type="text/javascript" src="{{assetsRootURL}}{{assets.javascript.vendors}}"></script>
        {{{coreJavascripts}}}
        <script type="text/javascript" src="{{assetsRootURL}}{{assets.javascript.app}}"></script>
      {{/if}}
  </body>
</html>
