<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{{title}}</title>
    <style>
      @import url("//fonts.googleapis.com/css?family=Open+Sans:400,700");

      * {
        box-sizing: border-box;
      }

      body {
        background: #fff;
        color: #767979;
      }

      .error-page {
        color: #767979;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 1.14em;
        margin: 0 auto;
        max-width: 1000px;
        padding: 0 60px;
        width: 72%;
      }

      .error-page hr {
        background: #efefef;
        border: 0;
        height: 2px;
        margin: 40px 0;
      }

      .error-page h2 {
        color: #3f4344;
        font-size: 1.7em;
        font-weight: bold;
        line-height: 1;
        margin-top: 0;
      }

      .error-page .main-error-content {
        padding: 60px 0 0;
      }

      .error-page .main-error-content .title {
        color: #3f4344;
        font-size: 3em;
        font-weight: 700;
        line-height: 1;
        margin: 0 auto 45px;
      }

      .error-page .main-error-content .description {
        color: #767979;
        font-size: 1.4em;
        line-height: 1.7;
      }

      .error-page .main-error-content a {
        color: #02729e;
        text-decoration: underline;
      }

      .error-page .error-ids {
        font-size: .9em;
      }

      .error-page .report-problem {
        margin: 40px 0;
      }

      .error-page .report-problem h2 {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 768px) {
        .error-page {
          padding: 0;
          width: 100%;
        }

        .error-page hr {
          margin: 20px 0;
        }

        .error-page h2 {
          font-size: 1.5em;
        }

        .error-page .main-error-content .title {
          font-size: 2em;
          margin-bottom: 25px;
        }

        .error-page .main-error-content .description {
          font-size: 1.3em;
          line-height: 1.6;
        }

        .error-page .main-error-content .description a {
          margin-bottom: 10px;
        }
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
