<div class="error-page">
  <div class="main-error-content">
    <h1 class="title">404</h1>
    <h2>The page you requested does not exist</h2>
    <p>The URL you requested doesn't exist</p>
  </div>
</div>
