<div class="error-page">
  <div class="main-error-content">
    <h2>This catalog is no longer available</h2>
    <p>The {{error.meta.fullName}} has a new online catalog</p>

    {{#if error.meta.homeLink}}
      <hr />
      <p>
      	Visit the <a href="{{error.meta.homeLink}}">{{error.meta.fullName}} web site</a> to access the new catalog
      </p>
    {{/if}}
  </div>
</div>
