<div class="error-page">
  <div class="main-error-content">
    <h1 class="title">We're very sorry!</h1>
    <p class="description">
      Something on our end isn't working properly. <br/>
      We're working hard to fix the problem.
    </p>
    <hr />
    <h2>In the meantime, you can&hellip;</h2>
    <p class="description">
      <a href="/dashboard">Browse the library catalog &raquo;</a>
    </p>
  </div>
  <hr />
  <div class="error-ids">
    {{#if error.id}}
      Error ID: {{error.id}} <br />
    {{/if}}
    {{ timestamp }}
  </div>
  <div class="report-problem">
    <h2>To report this problem&hellip;</h2>
    <p>
      Take a screenshot of this window and share it with your library.
    </p>
  </div>
</div>
